<?xml version="1.0" encoding="utf-8"?><!--
     Copyright (C) 2014 OTA Update Center
     Copyright (C) 2017 jollaman999
     Copyright (C) 2017 Psycho-Mods

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.psychokernelupdater"
    android:versionCode="50"
    android:versionName="5.0">

    <uses-feature
        android:name="com.psychokernelupdater.ota_feature"
        android:required="true" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/NewAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".new_main"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme.transparent" />
        <activity
            android:name=".LicenseActivity"
            android:label="@string/app_license">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.psychokernelupdater.new_main" />
        </activity>
        <activity
            android:name=".ContributorsActivity"
            android:label="@string/app_contrib">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.psychokernelupdater.new_main" />
        </activity>

        <receiver
            android:name=".DownloadReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.psychokernelupdater.action.DL_KERNEL_ACTION" />
                <action android:name="com.psychokernelupdater.action.CLEAR_DL_ACTION" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".CheckinReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme.transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileLoaderActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".LaunchTile"
            android:enabled="true"
            android:icon="@drawable/ic_mono"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".ProfileTile"
            android:enabled="true"
            android:icon="@drawable/atom"
            android:label="@string/profileTile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="com.ruesga.preferences.MultiProcessSharedPreferencesProvider"
            android:authorities="com.android.providers"
            android:exported="false" />

        <activity
            android:name=".download_new"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".new_about"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".new_support"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />
        <activity
            android:name=".PaytmTab"
            android:excludeFromRecents="true"
            android:theme="@style/NewAppTheme.Dialog" />
        <activity
            android:name=".Splash"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewAppTheme" />

        <activity
            android:name=".Settings_new"
            android:theme="@style/NewAppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>